.container_enunciado2{
    margin-left: 6%;
    margin-right: 6%;

    .texto3{
        justify-content: center;
        text-align: justify;
        vertical-align: center;
        margin-top: 10%;
    }
}
