.container_enunciado4{
    margin-left: 7%;
    margin-right: 7%;

    .noticias{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .ver{
        text-decoration: overline;
        color:#0E83CD;
    }

}