.card{
    .card-text{
        text-align: map-get($flex, center);
        justify-content: map-get($flex, center);
        align-items: map-get($flex, center);
        background-color: map-get($colores, color1);  
        text-decoration: map-get($bordes, borde-principal); 
        color: map-get($colores, color2);
    }
}

.card{
    .card-body1{
        @include texto-alineacion-items;
        padding-top: 10%;
    }
    .card-title1{
        @include texto-alineacion-items;  
    }
    .card-text2{
        @include texto-alineacion-items;  
        padding-top: 5%;
        background-color: rgba(128, 128, 128, 0.404);
        
    }
}

.card{
    .card-title5{
        padding-top: 1%;
        font-size: $fuentechica;
        text-align: center;
        background-color:$color-cartatexto;
        font-weight:bold;
        color:$color-cartatexto2;
    }
    .card-text5{
        text-align: justify;
        font-size: 90%;
    }
}