@mixin fondo-texto-color {     
    background-color: #05193760;
    color: rgb(255, 255, 255); 
}

@mixin color-alineacion {
    background-color: rgba(5, 131, 131, 0.527);
    text-align:center;
}

@mixin texto-alineacion-items {
    text-align: center;
    justify-content: center;
    align-items: center;  
}
@mixin margenes {
    margin-left: 5%;
    margin-right: 5%;
}
