$color-sobretexto: rgba(5, 131, 131, 0.527);
$color-fondo: rgba(227, 233, 238, 0.856);
$color-fondotexto:#05193760;
$color-letratexto:  rgb(255, 255, 255); 
$color-cartatexto: #beb7b7a9;
$color-cartatexto2: rgb(0, 0, 0);

$tipografiacuerpo: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$fuentegrande: 4rem;
$fuentemediana: 3rem;
$fuentechica:2rem;
$fuentebasica: 1.5rem;

$bordes:(
    borde-solid-principal :  1px solid black,
    borde-solid-dospx:  2px solid black,
    borde-solid-trespx:  3px solid black,
);

$flex : flex;
$center:center;
$row: row;
$space-around :space-around;
$space-between:space-between;
$column:column;
$space-evenly:space-evenly;
$text-align: center;

$map-flex:(
    flex: flex,
    row: row,
    column: column,
    space-around: space-around,
    space-between: space-between,
    space-evenly: space-evenly,
    center: center,
);