 @import "variables";
 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 html{
    font-size: 12.5px;
    font-family: $tipografiacuerpo;
}

body{
    display: inline-block;
    text-align: center;
    background-color: $color-fondo;
    width: 100%;
    height: 100%;}
.header{
    background-image: url(https://i.pinimg.com/564x/b6/16/cd/b616cd6dbccd0bab456d1feea6d9122b.jpg);
    width: 100%;
    .logo{
        display: flex;
        justify-content:center;   
    }
    .titulo{
        background-color: $color-fondotexto;
        font-size: 7rem;
        font-weight: lighter;
        color: $color-letratexto; 
        font-family: fantasy;
        &:hover{
            font-weight: bold; 
            background-color: #beca78a8;
            color: rgba(39, 35, 35, 0.822);
        }
    }
    .enunciado{ 
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;     
        align-items: center;
    }

    ul#id li a{
        position: relative;
        font-weight:bold;
        color:#0E83CD;
        margin: 0px 15px;
    }
    ul#id li a:after{
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #FFD743;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px);        
    }
    ul#id li a:hover:after{
        opacity:1;
        transform: translateY(15px)
    }
    @media screen and (min-width: 768px){
        header{
            .logo{
                height: auto;
            }
            .titulo{
                font-size: $fuentegrande;
            }
            .enunciado{
                font-size: $fuentemediana;
            }
                display: block;
            } 
        }
    }

.titulo_contacto{
    .card-img{
        height: 500px;
    }

    .card-title{
        padding-top: 20%;
        font-size: $fuentegrande;
        text-align: center;
        background-color:$color-fondotexto;
        text-decoration:double;
        font-weight:bold;
        color:$color-letratexto;
    }

    .card-text1{
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: $color-fondotexto;  
        text-decoration: solid; 
        color: $color-letratexto;
    }

    @media screen and (max-width: 768px){
        .card-title{
            font-size: $fuentemediana;
        }
        .card-img{
            height: 300px;
        }
    }
}

.container{
    .container_enunciado1{
        width: 80%;
        margin-left: 10%;
        text-align: center;
        justify-content: center;     
        align-items: center;
    }
    .subtitulo{
        font-size: $fuentemediana;  
    }
    .text {
        text-align: justify;
      }
}

.container_enunciado2{
    margin-left: 6%;
    margin-right: 6%;

    .texto3{
        justify-content: center;
        text-align: justify;
        vertical-align: center;
        margin-top: 10%;
    }
}

.container_enunciado3{
    margin-left: 6.5%;
    margin-right: 6.5%;

    .iconos{
        display:flex;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        margin-left: 2%;
        margin-right: 2%;
        padding-bottom: 4%;
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: background-color .5s;
            &:hover{
                color:#afcc47    
            }
            }
         }   


.container_enunciado4{
    margin-left: 7%;
    margin-right: 7%;

    .noticias{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .ver{
        text-decoration: overline;
        color:#0E83CD;
    }

}

.card{
    .card-text{
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color:$color-cartatexto;  
        text-decoration: solid; 
        color: $color-cartatexto2;
    }
}
.container{
    justify-content: space-evenly;
    align-items: center;
    .footer{
        display:flex;
    }
    .mapa{
        justify-content: center;
    
    }
    .subtitulo2{
        background-color: $color-sobretexto;
        text-align: center;
        
        
    }
    .derechos{
        background-color: $color-sobretexto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .numero{
        padding-top: 10%;
    }
}
.subtitulo2{
    background-color: $color-sobretexto;
    text-align: center;

}
.container_nosotros{
    .texto_nosotros1{
        font-size: $fuentebasica;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%; 
        padding-top: 1%;
    }
}

.card{
    .card-body1{
        text-align: center;
        justify-content: center;
        align-items: center;  
    }
    .card-title1{
        text-align: center;
        justify-content: center;
        align-items: center; 
    }
}
.especialidades{
        margin-left: 0%;
        margin-right: 0%; 
} 


.texto1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.texto2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;

}


.card{
    .card-title5{
        padding-top: 1%;
        font-size: $fuentechica;
        text-align: center;
        background-color:$color-cartatexto;
        font-weight:bold;
        color:$color-cartatexto2;
    }
    .card-text5{
        text-align: justify;
        font-size: 90%;
    }
}

.container{
    .texto_contacto{
        font-size: $fuentechica;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%; 
        padding-top: 8%;
     }

     
    }
.enlace{
        padding-top: 200%;
    }

.imagen{
        padding-top: 1%;
    }
    
.container2{
        margin-left: 5%;
        margin-right: 5%;
        background-color: $color-fondo;
    }

@media (min-width: 1200px) {
        body {
          font-size: 20px;
        }
      }
      
@media (max-width: 1199px) {
        body {
          font-size: 12px;
        }
      }

